<!DOCTYPE html>
<html lang="en">
<body style="padding-top: 70px;">
	<div class="container-fluid">
		<div class="row">
			<div class="col bg-primary mx-1 rounded">
				<h1>Blue Team</h1>
                <ul class="list-group">
                    <li class="list-group-item">{{summoner1}}</li>
                    <li class="list-group-item">{{summoner2}}</li>
                    <li class="list-group-item">{{summoner3}}</li>
                    <li class="list-group-item">{{summoner4}}</li>
                    <li class="list-group-item">{{summoner5}}</li>
                </ul>
			</div>
			<div class="col-6 bg-warning mx-1 rounded">
				<h1>Other info</h1>
			</div>
			<div class="col bg-danger mx-1 rounded">
				<h1>Red Team</h1>
			</div>
		</div>
	</div>
    {{summoner}}
    <div class="copyright py-4 text-center">
      <div class="container">
        <small>Copyright &copy; Andrew James McCourt 2017</small>
      </div>
    </div>
</body>
</html>